.App {
  min-height: 100vh;
  background: #fe8c00;
  background: -webkit-linear-gradient(to right, #fe8c00, #f83600);
  background: linear-gradient(to right, #fe8c00, #f83600);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

.recipes > * {
  margin: 30px 0;
}
