:root {
    --primary-color: lightcoral;
}

.btn {
    background-color: #f7930a;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 20px 35px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.recipe {
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
}

.recipeImg {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    flex: 1;
}

.recipeImg img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.recipeDetails {
    padding: 30px;
    position: relative;
    flex: 2;
}

.recipeDetails .btn {
    position: absolute;
    right: -10px;
    bottom: -10px;
}

.recipeTitle {
    color: var(--primary-color);
    font-size: 1.rem;
    font-weight: 400;
    margin: 0 0 20px;
}

.recipeInstruction {
    font-size: 14px;
}

.recipeInstruction li{
    color: #555;
    font-size: 16px;
    font-weight: bold;
    margin-right: 50px;
}

.recipeInfo {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.recipeInfo li {
    color: #555;
    font-size: 14px;
    font-weight: 300;
    margin-right: 50px;
}

.recipeInfo li strong {
    color: var(--primary-color);
    font-size: 18px;
    display: block;
}
